@import "../../_variables.scss";

.card {
  .content {
    a {
      text-decoration: none;
    }
    h3 {
      margin: 8px 0;
    }
    .thumbnail {
      cursor: pointer;
      position: relative;
      img {
        color: transparent;
        object-fit: cover;
        width: 100%;
        max-width: 100%;
      }
    }
    .excerpt {
      font-size: 16px;
      line-height: 1.2;
    }
  }
}
